body,
th,
td {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

.CLAS {
    background: #fbc575 !important;
}

.LAB {
    background: #b3d4f5 !important;
}

.AYU {
    background: #99cc99 !important;
}

.TAL {
    background: #c7c2f8 !important;
}

#almuerzo {
    background: #E7EAF6 !important;
    letter-spacing: 30px;
    text-align: center;
}

#horario {
    table-layout: fixed;
    height: 1px;
}

.modulo-cell {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
